<p id="notice"><%= notice %></p>

<p>
  <strong>Stock Number:</strong>
  <%= @vehicle.stock_number %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Days in process:</strong>
  
  <% days = (Time.now - @vehicle.created_at)/86400  %>
  <%= number_with_precision(days, precision: 2)%>
  
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
